@import '../../theme/assets/styles/variables';
.form-item {
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding: 0 20px;
  border: none;
  display: flex;

  // font-size: 14px;
  //  line-height: 16px;

  &-group {
    position: relative;
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-decoration: underline;
    }
    &.white {
      > .form-item {
        background: $color1;
        color: $color7;
        border: 1px solid $color3;
      }
      .form-item__label {
        background: $color1;
      }
    }

    &.black {
      > .form-item {
        background: $color7;
        color: $color1;
        border: 1px solid $color5;
      }
      .form-item__label {
        background: $color7;
      }
    }
    &.error {
      > .form-item {
        border-color: $color9;
      }
      .form-item__label {
        color: $color9;
      }
    }
  }
  &::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    color: $color4;
  }
  &::-moz-placeholder {
    font-size: 14px;
    line-height: 16px;
    color: $color4;
  }
  &:-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    color: $color4;
  }
  &::-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    color: $color4;
  }
  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    color: $color4;
  }
  &__label {
    padding: 0px 6px;
    position: absolute;
    //  width: 53px;
    height: 14px;
    left: 12px;
    top: -8px;
    display: block;
    background: $color1;
    color: $color4;
  }

  &__hide {
    display: none;
  }

  &.not-empty,
  &:-webkit-autofill {
    + .form-item__label {
      top: -8px;
      display: block;
    }
  }
}
