@import '../../theme/assets/styles/variables';

.custom-role {
  // display: flex;
  // flex-wrap: wrap;
  margin-top: 6px;
  &-add {
    display: flex;
    margin: -6px 0 0 -6px;
    flex-wrap: wrap;
    > * {
      margin: 6px 0 0 6px;
      outline: none;
      border: none;
    }
    .add-input {
      width: 93px;
    }
  }
  &-button {
    display: flex;
    margin-top: 6px;
    .add-input {
      display: none;
      border: none;
      max-width: 87px;
      outline: none;
    }
    .add-role {
      display: flex;
      background: $color7;
      border: 1px solid $color7;
      color: $color1;
      padding: 0 6px;
    }
    &.open {
      .add-input {
        display: flex;
      }
      .add-role {
        display: flex;
      }
    }
  }
}
