@import '../../theme/assets/styles/variables';
.form-area {
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding: 10px 15px;
  border: none;
  font-size: 14px;
  line-height: 16px;
  resize: none;
  overflow: auto;
  vertical-align: baseline;
  &-group {
    position: relative;
    &.white {
      > .form-area {
        background: $color1;
        color: $color7;
        border: 1px solid $color3;
      }
      .form-area__label {
        background: $color1;
      }
    }

    &.black {
      > .form-area {
        background: $color7;
        color: $color1;
        border: 1px solid $color5;
      }
      .form-area__label {
        background: $color7;
      }
    }
    &.error {
      > .form-area {
        border-color: $color9;
      }
      .form-area__label {
        color: $color9;
      }
    }
  }
  &::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    color: $color4;
  }
  &::-moz-placeholder {
    font-size: 14px;
    line-height: 16px;
    color: $color4;
  }
  &:-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    color: $color4;
  }
  &::-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    color: $color4;
  }
  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    color: $color4;
  }
  &__label {
    padding: 0px 6px;
    position: absolute;
    //  width: 53px;
    height: 14px;
    left: 12px;
    background: white;
    display: none;
    color: $color4;
  }

  &.not-empty,
  &:-webkit-autofill {
    + .form-area__label {
      top: -6px;
      display: block;
    }
  }
}
// .divHacher {
//   position: absolute;
//   display: flex;
//   justify-content: flex-start;
//   align-areas: center;
// }
