@import '../../../theme/assets/styles/variables';
.row-button {
  position: relative;
  .tooltip {
    display: none;
    position: absolute;
    //    color: red;
    padding: 5px 15px;
    top: -25px;
    left: -10px;
    transform: translate(-50%, 0);
    background: $color1;
    box-shadow: $shadow2;
    border-radius: 4px;
  }
  &:hover {
    .tooltip {
      display: block;
    }
  }
}
