@import '../../theme/assets/styles/variables';
.notices-message {
  position: absolute;
}
.custom-notice {
  > .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $color7;
  }
  > .message {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: 12px;
    color: $color7;
    font-family: Roboto;
  }
  &.error {
    > .title {
      color: $color9;
    }
  }
}
.Toastify {
  &__toast {
    &-container {
      width: 308px;
    }
    padding: 12px;
    border-radius: 4px;
    min-height: 72px;

    &--error {
      background: $color1;
      border: 1px solid $color9;
    }
    &--success {
      background: $color1;
    }
  }
  &__close-button {
    color: $color3;
    position: relative;
    width: 19px;
    height: 19px;
    > svg {
      height: 22px;
      width: 22px;
      display: none;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      height: 1px;
      width: 100%;
      border-radius: 25%;
      background: $color3;
    }
    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swirl-in-fwd {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.swirl-in-fwd {
  -webkit-animation: swirl-in-fwd 0.6s ease-out both;
  animation: swirl-in-fwd 0.6s ease-out both;
}

@-webkit-keyframes swirl-out-bck {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes swirl-out-bck {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.swirl-out-bck {
  -webkit-animation: swirl-out-bck 0.6s ease-in both;
  animation: swirl-out-bck 0.6s ease-in both;
}
