@import '../../theme/assets/styles/variables';
.charts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px;
  margin-right: 36px;
  .csv-dowload {
    margin-bottom: 24px;
    align-self: flex-end;
    width: initial;
  }
  &-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-csv {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    > * {
      margin-right: 24px;
    }
    > :last-child {
      margin-right: 0px;
    }
  }
  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .header {
    }
    .value {
      margin-top: 6px;
    }
    .title {
      margin-bottom: 24px;
    }
  }
  &-legend {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-left: 24px;
    > * {
      margin-left: 24px;
    }
    > :first-child {
      margin-left: 0px;
    }
    .legends-item {
      margin-top: 12px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      &-data {
      }
      &-title {
        min-width: -webkit-max-content;
        min-width: -moz-max-content;
        min-width: max-content;
      }
    }
  }
  &-builder {
    position: relative;
    .max-values {
      position: absolute;
      color: $color4;
      left: -100%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    .min-values {
      position: absolute;
      color: $color4;
      left: -100%;
      width: 100%;
      bottom: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
