@import '../../theme/assets/styles/variables';
.pagination-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  &-inner {
    box-shadow: $shadow2;
    border-radius: 5px;
    display: flex;
    background: $color1;
  }

  &-item {
    width: 32px;
    height: 34px;
    background: none;
    border: none;
    outline: none;
    border: 1px solid $color3;
    color: $color7;

    // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    // box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px -1px 2px rgba(0, 0, 0, 0.25);
    &:first-of-type {
      border-radius: 5px 0 0 5px;
      width: 31px;
    }
    &:last-of-type {
      border-radius: 0 5px 5px 0;
      width: 31px;
    }
    &:hover {
      cursor: pointer;
      background: $color2;
    }
    &.target {
      color: $color1;
      background: $color7;
    }
  }
}
