@import '../../theme/assets/styles/variables';
.popup {
  &-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999;
    background: rgba(0, 0, 0, 0.2);
  }
  &-wrapper {
    // min-height: 564px;
    width: 660px;
    background: $color1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $shadow2;
    border-radius: 4px;
    padding: 18px 24px 24px;

    > div {
      max-height: calc(100vh - 65px);
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
    }
  }
}
