.label-element {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  position: relative;
  padding: 3px 9px;
  white-space: nowrap;
  cursor: pointer;
  label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
  &-checked {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    height: 1px;
    width: 1px;
  }
  &.black {
    background: #000000;
    color: white;
  }
  &.white {
    color: #000000;
    background: #f2f2f2;
  }
}
