@import '../../theme/assets/styles/variables';
.sections {
  padding: 6px;

  .section {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    font-family: Roboto;
    font-style: normal;
    color: $color4;
    padding: 0 24px;
    border-right: 1px solid $color7;
    cursor: pointer;
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
    &:first-child {
      padding-left: 0;
    }
    &.active {
      color: $color7;
    }
  }
}
