.confirm-popup {
  width: 348px;
  min-height: auto;
  height: auto;
  &-button {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    > :nth-child(1) {
      //  width: 93px;
    }
    > :nth-child(2) {
      //    width: 91px;
    }
  }
}
