@import '../../theme/assets/styles/variables';
.search-panel {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  &-content {
    height: 34px;
    .search-panel-form {
      .search-panel-form-item {
        border: 1px solid $color7;
      }
    }
  }
  &-children {
    height: 34px;
    display: flex;
    .dropdown-menu {
      .elements {
        height: 34px;
        box-shadow: none;
        font-size: 14px;
      }
    }
    .dropdown-menu_multiply {
      .elements {
        height: 34px;
        box-shadow: none;
        font-size: 14px;
        > i {
          transform: translate(0%, -50%);
        }
      }
    }
    button {
      min-width: 34px;
      width: 34px;
      height: 34px;
      font-size: 16px;
      box-shadow: $shadow2;
      padding: 0;
      i {
        transform: rotate(0deg);
        transform-origin: center;

        &.anim {
          -webkit-animation: rotation 1s linear;
          animation: rotation 1s linear;
        }
      }
    }
    .row-button {
      .form-button {
        border-radius: 0%;
      }
      &:nth-child(1) {
        .form-button {
          border-radius: 4px 0 0 4px;
        }
      }
      &:nth-last-child(2) {
        .form-button {
          border-radius: 0 4px 4px 0;
        }
      }
      &:nth-last-child(1) {
        .form-button {
          border-radius: 4px;
        }
      }
    }
    > * {
      margin-left: 1px;

      &:last-child {
        margin-left: 10px;
      }
    }
  }
  &-form {
    display: flex;
    justify-content: flex-start;

    &-item {
      width: 316px;
      border-radius: 4px 0 0 4px;
      height: 34px;
    }

    button {
      border-radius: 0 4px 4px 0;
      min-width: 34px;
      width: 34px;
      height: 34px;
      font-size: 16px;
      padding: 0;
    }
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
