.selection-input {
  width: 100%;
  text-align: center;
  &-text {
    text-decoration: underline;
  }
  &-buttons {
    display: none;
  }
  &-button {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: #ffffff;
    /* Shadow 2 */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    i {
      font-size: 10px;
    }
  }
  &:hover {
    .selection-input-text {
      display: none;
    }
    .selection-input-buttons {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      left: 0;
      align-items: center;
      > * {
        margin-right: 12px;
      }
      > :last-child {
        margin-right: 0;
      }
    }
  }
}
