@import '../../theme/assets/styles/variables';
.access-list {
  display: flex;
  flex-wrap: wrap;

  margin: -6px 0 0 -6px;
  > * {
    margin: 6px 0 0 6px;
  }
  &-element {
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 6px 0 9px;
    background: $color2;
    border-radius: 50px;
    position: relative;
    &.active {
      background: $color7;
      color: $color1;
      .access-list-element-item {
        color: $color1;
      }
    }
    &.big {
      padding: 0 18px 0 9px;
    }
    &-item {
      margin-right: 3px;
    }
    &-plus {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 0;
      right: 0;
      background: $color2;
      border-radius: 50%;
      border: 1px solid white;
      &.active {
        background: $color7;
        color: $color1;
      }
    }
  }
}
