@import '../../theme/assets/styles/variables';
.flow-element {
  &-data {
    color: $color4;
    margin-top: 4px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
  &-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  &-currency {
    margin-left: auto;
    color: $color7;
  }
  &-bar {
    margin-top: 4px;
    height: 4px;
    background: $color2;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    &-outer {
      width: 100%;
      height: 100%;
      background: $color7;
      position: absolute;
      left: -100%;
      border-radius: 20px;
    }
    &-inner {
    }
  }
}
