@import '../../theme/assets/styles/variables';

.row-button {
  .form-button {
    min-width: 34px;
    width: 34px;
    height: 34px;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: $shadow2;
    padding: 0;
    //  background: transparent;
    &:hover {
      cursor: pointer;
    }
    &.disabled {
      border: none;
      box-shadow: none;
      color: $color4;
      background: transparent;

      &:hover {
        background: transparent;
        color: $color4;
      }
    }
  }
}
