@import '../../theme/assets/styles/variables';

.adminList {
  display: flex;

  padding: 24px 36px;
  width: 100%;
  &-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .gfs-small {
      color: $color4;
    }
  }
  &-dropdown {
    display: flex;
    align-items: flex-end;
    .adminList-dropdown-inner-item {
      &:hover {
        background: $color6;
      }
    }
    &-inner {
      width: 100%;
      .elements {
        height: 59px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $color1;
        background: $color7;
        border: none;
        padding: 12px 24px;
        .title {
          display: none;
        }
      }
      &-items {
        border: none;
      }
      &-item {
        .adminList-items {
          > svg {
            display: none;
          }
        }
      }
      &-button {
        > svg {
          display: none;
        }
        svg {
          right: 24px;
          top: 50%;
          transform: translate(0%, -50%);
        }
        &.open {
          svg {
            transform: translate(0%, -50%) rotate(180deg);
          }
        }
      }
    }
  }
  &-link {
    width: 100%;
    height: 80px;
    margin-right: 12px;
    &:last-child {
      margin-right: 0px;
    }

    &-element {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      flex-direction: column;
      padding: 12px;
      background: royalblue;
      border: 1px solid transparent;
      .title {
        color: $color1;
      }
      .description {
        color: $color3;
      }
    }
    &.active {
      .adminList-link-element {
        // box-shadow: inset 0px 0px 0px 1px $color1;
        border: 1px solid $color1;
      }
    }
    &:hover {
      .adminList-link-element {
        //   box-shadow: inset 0px 0px 0px 1px $color1;
        border: 1px solid $color1;
      }
    }
  }
}
