@import '../../theme/assets/styles/variables';
.table {
  width: 100%;
  position: relative;
  border-collapse: collapse;
  margin-top: 10px;

  .csvs-wrapper {
    display: flex;
    align-items: center;
  }

  thead {
    border-bottom: 1px solid $color3;
  }

  &-CSV {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: -30px;
    right: 0;
    > * {
      width: auto;
      margin-left: 12px;
      &:first-child {
        margin-left: 0px;
      }
    }

    td {
      display: flex;
    }
  }

  &-headers {
    //display: flex;
    //justify-content: space-between;
    text-align: center;
    height: 36px;
    //  text-transform: uppercase;

    &:first-child {
      margin-top: 12px;
    }
    > * {
      flex-grow: 1;
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //width: 100%;
    }
    &-item {
      margin: 0;
      //border-right: 1px solid $color3;
    }
    &-buttons {
      margin: 0;
    }

    th {
      position: relative;
    }

  }
  &-body {
    //display: initial;
    text-align: center;
    &-row {
      &:nth-child(even) {
        background: $color2;
      }
      //display: flex;
      //justify-content: space-between;

      min-height: 40px;
      height: auto;

      > * {
        flex-grow: 1;
        //display: flex;
        //justify-content: center;
        //align-items: center;
        padding: 12px 0;
        //width: 100%;
        position: relative;
      }

      &.attention {
        background: $color8 !important;
      }
      &.sent {
        background: $color10 !important;
      }
      &.delivered {
        background: $color11 !important;
      }

      .table-row-buttons {
        padding: 0;
        //   padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .row-buttons {
          width: fit-content;
        }

        > * {
          margin-right: 6px;
          font-size: 16px;
        }
      }
    }
  }
  &-row {
    &-item {
      margin: 0;
    }
  }
}

.left-border {
  border-left: 1px solid $color3;
}

.bottom-border {
  border-bottom: 1px solid $color3;
}

.right-border {
  border-right: 1px solid $color3;
}

.table-fixed {
  table-layout: fixed;
}

.csv-spacing {
  margin-top: 30px;
}

.withCSV {
  //margin-top: 40px;
}
