/* add css module styles here (optional) */

.gfs-h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.gfs-h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.gfs-caps {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.gfs-status-symbol {
  font-size: 16px;
}

.gfs-bold {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.gfs-body {
 font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.gfs-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.gfs-small {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.gfs-code {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.05em;
}

.gfs-status-symbol {
  font-size: 16px;
}

.gfs-tiny {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}