.filter-block {
  &-popup {
    padding: 18px;
    width: 548px;
  }
  // margin-right: 12px;
  &-children {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    overflow: visible !important;
    > * {
      margin: 0;
      width: 100%;
    }
  }
}
@media (max-width: 768px) {
  .filter-block {
    &-children {
      grid-template-columns: 1fr;
    }
    &-popup{
      width: auto;
      min-width: calc(100vw - 12px);
    }
  }
}