@import '../../theme/assets/styles/variables';

.form-button {
  // padding: 0 24px;
  min-width: 84px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
  font-style: normal;
  padding: 12px 24px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  //   padding: 0 15px;
  &:hover {
    // background: #1350f8;
    cursor: pointer;
  }

  &.small {
    height: 40px;
    font-size: 16px;
    font-weight: normal;
  }

  &.white {
    background: $color1;
    color: $color7;
    svg {
      path {
        fill: $color7;
      }
    }
    &:hover {
      color: $color7;
      background: $color2;
      svg {
        path {
          fill: $color7;
        }
      }
    }
  }
  &.light-grey {
    background: $color2;
    color: $color7;
    svg {
      path {
        fill: $color7;
      }
    }
    &:hover {
      color: $color2;
      background: $color7;
      svg {
        path {
          fill: $color7;
        }
      }
    }
  }
  &.grey {
    background: $color4;
    color: $color1;
    svg {
      path {
        fill: $color1;
      }
    }
    &:hover {
      color: $color4;
      background: $color1;
      svg {
        path {
          fill: $color1;
        }
      }
    }
  }
  &.dark-grey {
    background: $color6;
    color: $color1;
    svg {
      path {
        fill: $color1;
      }
    }
    &:hover {
      color: $color6;
      background: $color1;
      svg {
        path {
          fill: $color1;
        }
      }
    }
  }
  &.black {
    background: $color7;
    color: $color1;
    svg {
      path {
        fill: $color1;
      }
    }
    &:hover {
      color: $color1;
      background: $color6;
      svg {
        path {
          fill: $color1;
        }
      }
    }
  }
  &:disabled {
    background: $color4;
    color: $color1;
    svg {
      path {
        fill: $color1;
      }
    }
    &:hover {
      background: $color4;
      color: $color1;
      svg {
        path {
          fill: $color1;
        }
      }
    }
  }
}
