@import '../../theme/assets/styles/variables';
.csv-dowload {
  display: flex;
  justify-content: flex-end;
  font-weight: normal;
  width: 100%;
  align-items: flex-end;
  svg {
    margin-right: 12px;
  }
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
  &-button {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  &-title {
    white-space: nowrap;
    margin-right: 12px;
    border-bottom: 1px solid $color7;
    &.disabled {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
  &-image {
    font-size: 16px;
  }
}
// @keyframes rotateAnimation {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
